#container{
  min-height: calc(100vh - 190px);
  padding: 20px 30px;
}

#footer {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
}

#footer p {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: gray;
}

#footer-links {
  display: flex;
  gap: 15px;
}

#footer-links a {
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: gray;
}
